@import "tailwindcss";

:root {
  --color-primary: #aa3bff;
  --color-bg: #16171d;
  --color-text: #9ca3af;
  --color-text-heading: #f3f4f6;
  --color-border: #2e303a;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}